.board-view {
  // background-color: rgba(104, 56, 20, 0.673);
  background-image: url(https://images.unsplash.com/32/Mc8kW4x9Q3aRR3RkP5Im_IMG_4417.jpg?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  .container {
    min-width: 500px;
    min-height: 500px;
    display: grid;

    border: 5px solid;
    border-radius: 7px;

    grid-template-columns: 100px repeat(9, 50px) 100px;
    grid-template-rows: 100px repeat(9, 50px) 100px;

    .tile {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      font-size: 10px;
      border-right: 2px solid;
      background-color: hsl(152deg 29% 69%);
      text-transform: uppercase;
    }

    .tile-10 {
      border-right: unset;
    }

    .tile-11 {
      // background-color: beige;
      grid-column: 11;
      grid-row: 2;

      transform: rotate(-90deg);
      width: 50px;
      height: 100px;
      position: relative;
      left: 25px;
      bottom: 25px;
    }
    .tile-12 {
      // background-color: beige;
      grid-column: 11;
      grid-row: 3;

      transform: rotate(-90deg);
      width: 50px;
      height: 100px;
      position: relative;
      left: 25px;
      bottom: 25px;
    }
    .tile-13 {
      // background-color: beige;
      grid-column: 11;
      grid-row: 4;

      transform: rotate(-90deg);
      width: 50px;
      height: 100px;
      position: relative;
      left: 25px;
      bottom: 25px;
    }
    .tile-14 {
      // background-color: beige;
      grid-column: 11;
      grid-row: 5;

      transform: rotate(-90deg);
      width: 50px;
      height: 100px;
      position: relative;
      left: 25px;
      bottom: 25px;
    }
    .tile-15 {
      // background-color: beige;
      grid-column: 11;
      grid-row: 6;

      transform: rotate(-90deg);
      width: 50px;
      height: 100px;
      position: relative;
      left: 25px;
      bottom: 25px;
    }
    .tile-16 {
      // background-color: beige;
      grid-column: 11;
      grid-row: 7;

      transform: rotate(-90deg);
      width: 50px;
      height: 100px;
      position: relative;
      left: 25px;
      bottom: 25px;
    }
    .tile-17 {
      // background-color: beige;
      grid-column: 11;
      grid-row: 8;

      transform: rotate(-90deg);
      width: 50px;
      height: 100px;
      position: relative;
      left: 25px;
      bottom: 25px;
    }
    .tile-18 {
      // background-color: beige;
      grid-column: 11;
      grid-row: 9;

      transform: rotate(-90deg);
      width: 50px;
      height: 100px;
      position: relative;
      left: 25px;
      bottom: 25px;
    }
    .tile-19 {
      // background-color: beige;
      grid-column: 11;
      grid-row: 10;

      transform: rotate(-90deg);
      width: 50px;
      height: 100px;
      position: relative;
      left: 25px;
      bottom: 25px;
    }
    .tile-20 {
      // background-color: beige;
      border-top: 2px solid;
      grid-column: 11;
      grid-row: 11;
      border-right: unset;
      border-bottom-right-radius: 5px;
    }
    .tile-21 {
      // background-color: beige;
      grid-column: 10;
      grid-row: 11;
    }
    .tile-22 {
      // background-color: beige;
      grid-column: 9;
      grid-row: 11;
    }
    .tile-23 {
      // background-color: beige;
      grid-column: 8;
      grid-row: 11;
    }
    .tile-24 {
      // background-color: beige;
      grid-column: 7;
      grid-row: 11;
    }
    .tile-25 {
      // background-color: beige;
      grid-column: 6;
      grid-row: 11;
    }
    .tile-26 {
      // background-color: beige;
      grid-column: 5;
      grid-row: 11;
    }
    .tile-27 {
      // background-color: beige;
      grid-column: 4;
      grid-row: 11;
    }
    .tile-28 {
      // background-color: beige;
      grid-column: 3;
      grid-row: 11;
    }
    .tile-29 {
      // background-color: beige;
      grid-column: 2;
      grid-row: 11;
    }
    .tile-30 {
      // background-color: beige;
      grid-column: 1;
      grid-row: 11;
      border-bottom-left-radius: 5px;
    }
    .tile-31 {
      // background-color: beige;
      grid-column: 1;
      grid-row: 10;

      transform: rotate(90deg);
      width: 50px;
      height: 100px;
      position: relative;
      left: 25px;
      bottom: 25px;
      // border-left: 1px solid;
    }
    .tile-32 {
      // background-color: beige;
      grid-column: 1;
      grid-row: 9;

      transform: rotate(90deg);
      width: 50px;
      height: 100px;
      position: relative;
      left: 25px;
      bottom: 25px;
      // border-left: 1px solid;
    }
    .tile-33 {
      // background-color: beige;
      grid-column: 1;
      grid-row: 8;

      transform: rotate(90deg);
      width: 50px;
      height: 100px;
      position: relative;
      left: 25px;
      bottom: 25px;
      // border-left: 1px solid;
    }
    .tile-34 {
      // background-color: beige;
      grid-column: 1;
      grid-row: 7;

      transform: rotate(90deg);
      width: 50px;
      height: 100px;
      position: relative;
      left: 25px;
      bottom: 25px;
    }
    .tile-35 {
      // background-color: beige;
      grid-column: 1;
      grid-row: 6;

      transform: rotate(90deg);
      width: 50px;
      height: 100px;
      position: relative;
      left: 25px;
      bottom: 25px;
    }
    .tile-36 {
      // background-color: beige;
      grid-column: 1;
      grid-row: 5;

      transform: rotate(90deg);
      width: 50px;
      height: 100px;
      position: relative;
      left: 25px;
      bottom: 25px;
    }
    .tile-37 {
      // background-color: beige;
      grid-column: 1;
      grid-row: 4;

      transform: rotate(90deg);
      width: 50px;
      height: 100px;
      position: relative;
      left: 25px;
      bottom: 25px;
    }
    .tile-38 {
      // background-color: beige;
      grid-column: 1;
      grid-row: 3;

      transform: rotate(90deg);
      width: 50px;
      height: 100px;
      position: relative;
      left: 25px;
      bottom: 25px;
    }
    .tile-39 {
      // background-color: beige;
      grid-column: 1;
      grid-row: 2;

      transform: rotate(90deg);
      width: 50px;
      height: 100px;
      position: relative;
      left: 25px;
      bottom: 25px;
      border-left: 1px solid;
    }

    .center {
      grid-column: 2/11;
      grid-row: 2/11;
      background-color: hsl(152deg 29% 69%);

      border: 2px solid;
    }
    .chance {
      border: 1px dashed;
      grid-column: 3/5;
      grid-row: 3/5;
      transform: rotate(-45deg);
      display: flex;
      justify-content: center;
      align-items: center;
      width: 120px;
      text-transform: uppercase;
      font-size: 14px;

      .cards-chance {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #ff5c00;
        width: 95%;
        height: 95%;
        border-radius: 3px;
      }
    }
    .logo {
      // background-color: rgb(12, 11, 7);
      position: relative;
      color: rgb(0, 0, 0);
      grid-column: 5/8;
      grid-row: 6;
      font-size: 70px;
      transform: rotate(-45deg);
      width: 300px;
      top: -10px;
      left: -50px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .communiyt {
      position: relative;
      border: 1px dashed;
      grid-column: 8/10;
      grid-row: 8/10;
      transform: rotate(-45deg);
      display: flex;
      justify-content: center;
      align-items: center;
      width: 120px;
      text-transform: uppercase;
      font-size: 14px;

      .cards-community {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #ffeb43;
        width: 95%;
        height: 95%;
        border-radius: 3px;

        p {
          text-align: center;
        }
      }
    }
  }
}
