.home-view {
  height: 100vh;
  width: 100vw;

  .header {
    height: 10%;
    background-color: rgb(149, 215, 197);
  }
  .container {
    background-color: rgb(177, 215, 149);
  }
  .players-to-add {
    display: flex;
  }
  .player-to-add {
    display: flex;
  }
}
