.player-view {
  width: 265px;
  position: fixed;
  display: flex;
  flex-direction: column;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  min-height: 300px;
  background-color: rgb(181, 139, 139);
  border-radius: 5px;
  border-top-left-radius: unset;
  border-bottom-left-radius: unset;
  padding: 10px;
  z-index: 10;

  .go-back {
    align-self: end;
    cursor: pointer;
  }
  .containerr {
    .player-name {
    }

    .balance {
    }

    .cards-player {
    }
  }
}
