.property-card {
  padding: 5px;
  background-color: rgb(246, 244, 244);
  margin: 3px;
  border-radius: 5px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  .card {
    min-height: 200px;
    width: 210px;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1px;
    border-radius: 5px;
    .header {
      border-radius: 5px;
      padding: 3px;
      width: 100%;
      height: 40px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: 3px;

      h1 {
        font-size: 14px;
      }
    }

    .rent {
      margin-bottom: 10px;
    }

    .prices {
      width: 90%;
      .container-price {
        height: 25px;
        justify-content: space-between;
        display: flex;
        .house {
        }

        .price {
        }
      }
    }

    .hotel {
      margin-bottom: 10px;
    }
    .mortgage,
    .house-cost,
    .hotel-cost {
      margin-bottom: 7px;
    }

    .description {
      padding: 5px;
      font-size: 10px;
      text-align: center;
      line-height: 20px;
    }
  }
}
