.dice-cmp {
  grid-column: 8/10;
  grid-row: 2/4;
  cursor: pointer;
  z-index: 3;

  .dice-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;

    .dice {
      font-size: 45px;
    }
    .n-dice {
      font-size: 20px;
      padding: 5px;
      text-align: center;
      cursor: pointer;
    }
  }
}
