.parking-cmp {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  .containerr {
    display: flex;
    height: 90%;
    width: 90%;
    transform: rotate(-45deg);
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    .fa-car {
      font-size: 30px;
      color: #c94134;
    }
  }
}
