.send-to-jail-cmp {
  position: relative;
  display: flex;

  align-items: center;
  justify-content: center;

  .containerr {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    transform: rotate(45deg);
    // background-color: lawngreen;
    width: 80%;
    height: 90%;

    .drawing {
      font-size: 40px;
      color: #640303;
    }
  }
}
