.players-list-cmp {
  position: fixed;
  top: 50%;
  transform: translate(0, -50%);
  right: 0;
  background-color: #9bc1a1;
  border: 1px solid;
  padding: 5px;
  border-radius: 5px;
  min-height: 200px;
  width: 245px;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  transition: right 0.3s;
  z-index: 10;
  box-shadow: -1px 1px 24px 3px rgba(0, 0, 0, 0.75);

  &.list-close {
    transition: right 0.3s;
    right: -245px;
    // visibility: hidden;
  }

  .toggle-list-btn {
    border: 1px solid;
    position: absolute;
    left: -28px;
    height: 90px;
    border-radius: 5px;
    padding: 10px;
    // border: none;
    cursor: pointer;
  }
}
